.new-todo {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 16px 16px 16px 60px;
	height: 65px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);

	&::-webkit-input-placeholder {
		font-style: italic;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.4);
	}
	
	&::-moz-placeholder {
		font-style: italic;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.4);
	}
	
	&::input-placeholder {
		font-style: italic;
		font-weight: 400;
		color: rgba(0, 0, 0, 0.4);
	}
}

.toggle-all {
	width: 1px;
	height: 1px;
	border: none; /* Mobile Safari */
	opacity: 0;
	position: absolute;
	right: 100%;
	bottom: 100%;

	& + label {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 65px;
		font-size: 0;
		position: absolute;
		top: -65px;
		left: -0;
	}
	
	& + label:before {
		content: '❯';
		display: inline-block;
		font-size: 22px;
		color: #949494;
		padding: 10px 27px 10px 27px;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	
	&:checked + label:before {
		color: #484848;
	}
	
	&:focus + label {
		box-shadow: 0 0 2px 2px #CF7D7D;
		outline: 0;
	}
}

